.blog-section{
  .posts{
    padding:0;
    float: left;
    .item{
      padding: 5px 10px;
      .title{
        color: $main-color;
        font-weight:normal;
      }
      .date{
        font-size: 12px;
        color: #999999;
        float: right;
      }
      .author{
        color: $darken-main-color;
        font-size: 12px;
      }
      .excerpt{
        font-size: 14px;
        font-family: "Roboto Regular", sans-serif;
      }
      .hashtag{
        color: $main-color;
        font-size: 14px;
        font-weight: normal;
        padding: 5px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .pic{
      height: 20vh;
      img{
        height: auto;
        width: auto;
        transform: translateY(-50%);
        transition-duration: 0.5s;
      }
    }

    &:hover{
      .pic{
        height: auto;
        img{
          height: 100%;
          width: 100%;
          transform: translateY(0);
        }
      }
    }
  }

}