.connection-section{
  background-image: url(../img/conx-pic.png);
  background-size: cover;
  .container{
    text-align: center;
    padding-top: 54px;
    padding-bottom: 54px;


  }
  .news--description{
    text-align: center;
    p{
      @extend %color-white;
      line-height:32px;
      margin-top: 0;
    }
  }
  .news--title{
   color: white;
    &:after{background-color: white}
  }
  .btn-news{
    @extend .btn-header ;
    margin: 0 auto;

  }
}