.intro-section{
  .container{
    padding-top: 50px;
  }
  .tabs{
    margin-bottom: 20px;
    text-align: center;
    .wrapper{
      display: inline-block;
    }
    .item{
      @extend %btn ;
      display: inline-block;
      float: left;
      border: 1px solid white;
      background-color: #333333;
      font-weight: bolder;
      font-size: 15px;
      font-family: "Open Sans Semibold",sans-serif;
      transition-duration: 0.2s;
      &:first-child{
        border-radius: 5px 0 0 5px ;
      }
      &:last-child{
        border-radius: 0 5px 5px 0 ;
      }

      &:hover{
        background-color: $darken-main-color;
      }
      &.is-active{
        background-color: $darken-main-color
      }

    }
  }

  .content{
    padding: 15px 0;
    .item{
      display: none;
      text-align: center;
      ul{

        li{
          list-style: circle;
          color: darken($main-color,.7);
        }
      }
      h3{
        color: rgba($darken-main-color,.7);
      }
    }
    .is-active{
      display: block
    }
    .title{
      color: $main-color;
      font-weight: normal;
      text-align: center;

    }
    .description{
      line-height:26px;
    }

  }
}

.connection-section{
  background-image: url(../img/conx-pic.png);
  background-size: cover;
  .container{
    text-align: center;
    padding-top: 54px;
    padding-bottom: 54px;
  }
  .news--description{
    text-align: center;
    p{
      @extend %color-white;
      line-height:32px;
      margin-top: 0;
    }
  }
  .news--title{
    color: white;
    font-weight: normal;
    text-align: center;
    &:after{
      background-color: white
    }
  }
}

.news-section{
  /*.section-title h1{
    text-align: center;
    color: $main-color;
    &:after{
      @extend %under_line ;
      background-color: $main-color;
    }
  }*/
  .text{
    float: right;
    h3 a , .hashtag{
      color: $main-color ;
      font-weight: normal;
    }
  }
  .icon{margin-top: 17px}
  .item{
    margin-bottom: 20px;
    h3{
      text-align: start;
      font-weight: normal;
      color: $main-color;
    }
    p{
      text-align: start;
    }
  }
  .new{
    &:after{
      margin: 40px 0 ;
    }
  }
}
