.section{
  min-height:92vh;
  .section-title h1{
    text-align: center;
    color: $main-color;
    &:after{
      @extend %under_line ;
      background-color: $main-color;
    }
  }
  &:nth-child(even){
    background-color: #ececec;
  }
  .section-content{
    margin-top: 100px;
    @extend %clearfix ;
  }
  .container{
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .pages-header{
    &:after{
      content: '';
      display: block;
      height: 2px;
      width: 65px;
      clear: both;
      background-color:$main-color;
      margin: 40px auto ;
    }
  }
}
.portion{
  background-color: #ffffff;
  margin: 10px;
  box-shadow: 0 0 2px #999999;
}
.pagination{
  a{
    color: $main-color;
  }
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  li{
    display: inline-block;
    margin: 0 10px ;
    padding: 5px;
  }
  .active{
    color: #FFFFFF;
    background-color: rgba($main-color,.7);
  }
  li.disabled{
    color: #999999;
  }
}
.right{
  float: right;
}