.site-content-header{
  .recent-title{
    float: left;
    color: $darken-main-color;
    font-family:"Segoe UI Light",sans-serif;
    border-bottom: 2px solid $darken-main-color;
    padding: 5px 0;
    display: inline-block;
  }

  .arrows{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    .icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &.left{
      left: 0;
      z-index: 5000;
      .icon{
        right: 0;
      }

    }
    &.right{
      right: 0;
      .icon{
        left: 0;
      }
    }
  }
  .slide-container{
    position: relative;
    height: 272px;
    padding: 0 50px ;
    margin: 50px 0  ;

    .container{
      height: 100%;
      padding: 0;
      overflow-x: hidden;
    }

    .slide-content{
      height:100%;
      .item{
        position: relative;
        padding: 0;
        margin: 0 11px ;
        height: 100%;

        .item-title{
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 90px;
          line-height: 90px ;
          margin: 0;
          padding: 0 0 0 30px ;
          color:#ffffff;

          background-color: rgba($darken-main-color,.75);
          a{
            display: inline-block;
            width: 100%;
            font-family:"Segoe UI Light",sans-serif;
          }
        }

      }
    }
  }
}