@media only screen and (max-width: $rm-break-point){
  $rm-nav-color : #000b18;
  .header{
    position: static;
    @include reset-gutters(0,child) ;
  }
  .header--head{
    position: fixed;
    z-index: 7000;
    width: 100%;
    background-color:  $rm-nav-color;
  }
  .header--logo{
    margin: 0 auto;
    text-align: center;
    float: none;
    display: block;
    .icon-s{
      display: inline-block;
    }
    .icon-m{
      display: none;
    }
  }
  .header--nav{
    display: inline-block;
    width: $rm-width;
    position: fixed;
    top: $rm-nav-height;
    left: 0;
    bottom: 0;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    background-color: $rm-side-nav-color ;
    transform : translateX($rm-width * -1) ;
    .item{
      text-align: center;
      display:block;
      float: none;
      margin: 0 auto;
      &:after{display:none}
    }
    .usto-logo{
      display: block;
      margin: 0 auto;
    }
  }

  .header--trigger{
    display: block;
    height: 65px;
    width: 65px;
    float: left;
    border-right:1px solid white ;
    cursor: pointer;
    z-index: 500;
    &:after{
      content: "";
      position: absolute;
      display: block;
      left: 24px;
      top: 17px ;
      width: 18px;
     box-shadow :0 10px 0px 1px  #ffffff,0 16px 0 1px  #ffffff ,0 22px 0 1px #ffffff  ;
    }
  }


  .site-content{
    position: relative;
    top: 0 ;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0 ;
    transition-duration: 0.5s ;
    transform: scale(1);
    -webkit-overflow-scrolling : touch ;
  }
  .site-container{
    height: 100%;
    -webkit-overflow-scrolling : touch ;
  }

  .with-slid{
    .site-container{
      overflow-y: hidden;
    }
    .site-posher{
      background-color: #000000;

    }
     .header--nav{
       overflow: hidden;
       z-index: 4000;
       transform: translateX(0);
     }
    .site-content{
      background-color: #FFFFFF;
      overflow: hidden;
      transform: scale(0.9);
    }
    .site-cache{
      position: absolute;
      top: 0 ;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(#000000,0.7);

    }
  }
}