.main{
  padding-top:$header-height ;
}
.header--title{
  margin-top: 135px;
  font-size: 32px ;
}
.header--description{
  p{
    font-size: 20px;
    line-height:38px;
  }
}

.btn-header{
  margin-bottom: 135px;
}