.form{
  .f-wrapper{

    .f-head{
      height: 40px;
      background-color: $color-default;
      font-size: 20px;
      font-weight: bold;
      font-family: "Roboto Regular",sans-serif;
      color: #ffffff;
      padding: 5px 10px;
      text-align: start;

      .f-head-title{
        line-height: 30px;
      }
    }
    .f-body{
      padding: 20px;
      text-align: start;
    }
    .f-footer{
      background-color:$color-default ;
    }
  }
  .f-reset , .f-submit{
    display: inline-block;
    width: 49.3%;

    input{
      height: 40px;
      width: 100%;
      background-color: $color-default;
      text-align: center;
      border: none;
      cursor: pointer;
      padding: 0;
      outline: none;
      font-family: "Roboto Regular", sans-serif;
      font-weight: bold;
      color: #ffffff;
      transition-duration: 0.3s;
      &:hover{
        background-color: rgba($color-default,0.3);
        color:$color-default;
      }
      &:active{
        background-color: rgba(#ffffff,0.7);
        color:$color-default;
      }
    }
  }
  .f-reset{
    float: left;
  }
  .f-submit{
    float: right;
  }
  .f-submit,.f-reset{
    &.f-danger{
      input{
        background-color: $error-color;
         &:hover{
        background-color: rgba($error-color,0.3);
        color:$error-color;
      }
      &:active{
        background-color: rgba(#ffffff,0.7);
        color:$error-color;
      }
      }
    }
    &.f-warning{
      input{
        background-color: $warning-color;
         &:hover{
        background-color: rgba($warning-color,0.3);
        color:$warning-color;
      }
      &:active{
        background-color: rgba(#ffffff,0.7);
        color:$warning-color;
      }
      }
    }
    &.f-allow{
      input{
        background-color: $success-color;
         &:hover{
        background-color: rgba($success-color,0.3);
        color:$success-color;
      }
      &:active{
        background-color: rgba(#ffffff,0.7);
        color:$success-color;
      }
      }
    }
  }

  .f-forgot{
    vertical-align: middle;
    display: inline-block;
    line-height: 28px;
    color: $color-default;
    font-size: 14px;
  }
}